/*******section info ******/
.info-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #f6f6f6;
    padding-bottom: 15%;
}

.section-title {
     font-size: 24px;
    padding-top: 50px;
    margin: 25px;
    font-family: 'Shrikhand', cursive;
}

.info {
    font-size: 18px;
    padding: 15px;
    margin: 0;
}

.exploration-restaurants {
    display: flex;
    justify-content: center;
    background-color: #f6f6f6;
    padding-bottom: 60px;
}

