.button {
    background-color: #ff79da;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    background: var(--Button-Gradient, linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%));
    width: 35%;
    height: 50px;
}