/****** General ***********/
* {
    font-family: "Roboto", sans-serif;
}

:root {
    --main-color: #9356dc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #f6f6f6;
}

.fa-solid {
    color: #353535;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    margin: 2px;
    padding: 15px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.card {
    background-color: #f6f6f6;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}


.logo {
    height: 50px;
    width: 220px;
}

.main-container {
    width: 100%;
}

.location {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eaeaea;
    height: 60px;
}

.fa-location-dot {
    display: flex;
    justify-content: center;
    padding-right: 18px;
}

/*******section info ******/
.info-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #f6f6f6;
}

.section-title {
     font-size: 24px;
    padding-top: 50px;
    margin: 25px;
    font-family: 'Shrikhand', cursive;
}

.info {
    font-size: 18px;
    padding: 15px;
    margin: 0;
}

.exploration-restaurants {
    display: flex;
    justify-content: center;
    background-color: #f6f6f6;
}

.button {
    background-color: #ff79da;
    border-radius: 25px;
    color: white;
    background: var(--Button-Gradient, linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%));
}

/****** Fonctionnement ******/

.fonctionnement {
    display: flex;
    flex-direction: column;
}

 .card {
    margin: 20px;
    background-color: #f6f6f6;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

 .fonctionnement-cards .card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.fonctionnement-cards .card-title {
    font-size: 16px;
    color: black;
}

.fonctionnement-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    padding: 25px;
}


.fa-icones {
    color: #7E7E7E;
}

.fa-store {
    color: #9356dc;
}
