/****** General ***********/
*{
    font-family: 'Roboto', sans-serif;
}

:root {
    --main-color: #9356DC;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #f6f6f6;
}

.fa-solid {
    color: #353535;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.logo {
    height: 50px;
    width: 220px;
}

.main-container {
    width: 100%;
}

.location {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eaeaea;
    height: 60px;
}

.fa-location-dot {
    display: flex;
    justify-content: center;
    padding-right: 18px;
}

 .info-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }   

  .section-title{
    font-weight: bold;
    font-size: 24px;
    padding-top: 50px;
    margin: 0;
 }
 
.info {
    font-size: 18px;
    padding: 15px;
    margin: 0;
}