/*******section info ******/
.info-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #f6f6f6;
    padding-bottom: 15%;
}

.section-title {
     font-size: 24px;
    padding-top: 50px;
    margin: 25px;
    font-family: 'Shrikhand', cursive;
}

.info {
    font-size: 18px;
    padding: 15px;
    margin: 0;
}

.exploration-restaurants {
    display: flex;
    justify-content: center;
    background-color: #f6f6f6;
    padding-bottom: 60px;
}

.button {
    background-color: #ff79da;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    background: var(--Button-Gradient, linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%));
    width: 35%;
    height: 50px;
}